body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: rgba(12, 12, 12, 0.825);
  color: white;
}

h1 {
  text-align: center;
  color: rgb(215, 92, 92);
}

.container {
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 30px;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
  display: flex;
}

input {
  padding: 15px 10px;
  outline: none;
  width: 400px;
}

.li-container {
  background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
}

li p {
  margin: 0;
  padding: 15px;
  width: 100%;
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: #e31746;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 10%;
  font-size: 1.2em;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: #ee4b71;
  color: wheat;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.6);
}

.btn-add {
  padding: 5px 15px;
  border: none;
  color: white;
  font-family: fantasy;
  color: rgb(215, 92, 92);
  font-size: 1.4rem;
  outline: none;
}

.btn-add:hover {
  cursor: pointer;
  background-color: rgba(215, 92, 92, 0.54);
}

.empty {
  color: darkslategrey;
}
